.nav {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.nav a {
    display: flex;
    padding: 10px 13px;
}

.nav .active {
    background-color: var(--background-color-dark);
    border-radius: 4px;
}

.nav svg {
    width: 26px;
    height: 26px;
    margin: 2px 0;
    fill: var(--primary-color);
    opacity: 0.7;
    transition: all 320ms ease-out;
}

.nav li:hover svg {
    transform: scale(1.1);
    opacity: 1;
}

.link {
    line-height: 30px;
    margin-left: 15px;
    position: relative;
    opacity: 0.9;
    transition: all 320ms ease-out;
}

.nav li:hover .link {
    opacity: 1;
}

.navButton {
    display: none;
    overflow: hidden;
    text-indent: 10000px;
    color: transparent;
}

.navButton:active {
    opacity: 0.5;
}

.themes {
    display: flex;
    align-items: center;
    position: absolute;
    margin: 20px;
    bottom: 60px;
    font-size: 12px;
    animation: fadeIn 500ms ease-in 1200ms backwards;
}

.themes button {
    overflow: hidden;
    text-indent: -100px;
    width: 25px;
    height: 15px;
    border: 2px solid var(--primary-color);
    margin-left: 5px;
    border-radius: 3px;
    background-color: #202a2f;
    cursor: pointer;
    outline: none;
}

.themes button.light {
    background-color: #fff;
    border-color: var(--line-color);
}

:global(.light-theme) .themes button.light {
    border-color: var(--primary-color);
}

:global(.light-theme) .themes button.dark {
    border-color: var(--line-color);
}

.about {
    display: inline-block;
    position: absolute;
    margin: 20px;
    bottom: 30px;
    font-size: 12px;
    opacity: 0.7;
    transition: all 320ms ease-out;
    animation: fadeIn 500ms ease-in 1200ms backwards;
}

.about:hover {
    transform: scale(1.1);
    opacity: 1;
}

@media (max-width: 1035px) {
    .nav a span {
        display: none;
    }

    .about {
        display: none;
    }

    .themes {
        position: relative;
        bottom: auto;
        margin: 0;
        justify-content: center;
        flex-direction: column;
    }

    .themes button {
        margin: 0 0 10px 0;
    }

    .themes span {
        display: none;
    }
}

@media (max-width: 480px) {
    .nav {
        margin: 0 0 20px 0;
    }

    .nav a {
        padding: 10px 20px;
    }

    .nav a span {
        display: inline;
    }

    .navButton {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 10px;
        margin: 0 5px;
        padding: 10px;
        z-index: 1;
        cursor: pointer;
        border: 0;
        background: transparent;
        outline: none;
    }

    .navButton span {
        display: block;
        width: 24px;
        height: 1px;
        margin-bottom: 4px;
        background-color: var(--text-color);
        transition: all 200ms ease-in-out;
    }

    .navButton.opened {
        top: 13px;
    }

    .navButton.opened .bar1 {
        transform: rotate(45deg);
    }

    .navButton.opened .bar2 {
        opacity: 0;
    }

    .navButton.opened .bar3 {
        margin-top: -10px;
        transform: rotate(-45deg);
    }

    .themes {
        justify-content: left;
        flex-direction: row;
        margin: 0 20px;
    }

    .themes button {
        margin: 0 0 0 10px;
    }

    .themes span {
        display: inline-block;
    }
}

@media (max-height: 600px) {
    .about {
        display: none;
    }

    .themes {
        display: none;
    }

    .nav {
        margin-top: 10px;
    }

    .nav a {
        padding: 7px 10px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.7;
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.nav li:nth-child(1) svg {
    animation: scaleIn 450ms ease-out 100ms 1 backwards;
}

.nav li:nth-child(1) .link {
    animation: fadeIn 450ms ease-out 100ms 1 backwards;
}

.nav li:nth-child(2) svg {
    animation: scaleIn 450ms ease-out 200ms 1 backwards;
}

.nav li:nth-child(2) .link {
    animation: fadeIn 450ms ease-out 200ms 1 backwards;
}

.nav li:nth-child(3) svg {
    animation: scaleIn 450ms ease-out 300ms 1 backwards;
}

.nav li:nth-child(3) .link {
    animation: fadeIn 450ms ease-out 300ms 1 backwards;
}

.nav li:nth-child(4) svg {
    animation: scaleIn 450ms ease-out 400ms 1 backwards;
}

.nav li:nth-child(4) .link {
    animation: fadeIn 450ms ease-out 400ms 1 backwards;
}

.nav li:nth-child(5) svg {
    animation: scaleIn 450ms ease-out 500ms 1 backwards;
}

.nav li:nth-child(5) .link {
    animation: fadeIn 450ms ease-out 500ms 1 backwards;
}

.nav li:nth-child(6) svg {
    animation: scaleIn 450ms ease-out 600ms 1 backwards;
}

.nav li:nth-child(6) .link {
    animation: fadeIn 450ms ease-out 600ms 1 backwards;
}

.nav li:nth-child(7) svg {
    animation: scaleIn 450ms ease-out 700ms 1 backwards;
}

.nav li:nth-child(7) .link {
    animation: fadeIn 450ms ease-out 700ms 1 backwards;
}

.nav li:nth-child(8) svg {
    animation: scaleIn 450ms ease-out 800ms 1 backwards;
}

.nav li:nth-child(8) .link {
    animation: fadeIn 450ms ease-out 800ms 1 backwards;
}
