.page {
    display: grid;
    grid-template-columns: 34% auto;
    grid-template-rows: auto auto;
}

.error {
    padding: 20px 0;
    border-top: 1px solid var(--line-color);
    font-style: italic;
}

.empty {
    padding: 20px 0;
    border-top: 1px solid var(--line-color);
    font-style: italic;
}

.profile {
    padding: 40px 0 0 0;
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 30px 30px auto auto;
}

.profile .picture {
    display: inline-block;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
}

:global(.fade-enter-active) .profile .picture {
    animation: scaleIn 350ms 1500ms;
}

:global(.fade-exit) .profile .picture {
    animation: scaleIn 350ms reverse;
}

.picture img {
    width: 60px;
    height: 60px;
}

.profile h2 {
    margin: 5px 0 0 0;
    grid-column: 2;
    grid-row: 1;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    position: relative;
}

:global(.fade-enter-active) .profile h2 {
    animation: moveIn 350ms 1500ms;
}

:global(.fade-exit) .profile h2 {
    animation: moveOut 350ms;
}

.profile .username {
    grid-column: 2;
    grid-row: 2;
    position: relative;
    animation: moveIn 500ms;
}

:global(.fade-enter-active) .profile .username {
    animation: moveIn 500ms 1500ms;
}

:global(.fade-exit) .profile .username {
    animation: moveOut 350ms;
}

.profile p {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row: 3;
    padding: 20px 0 0 0;
    margin: 0;
}

.profile ul.stats {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row: 4;

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin: 30px 0;
    background-color: var(--background-color-dark);
    border-radius: 4px;
}

.profile ul.stats li {
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    line-height: 20px;
    flex: 1 1 auto;
}

:global(.fade-enter-active) ul.stats li {
    animation: scaleIn 500ms 1500ms;
}

:global(.fade-exit) ul.stats li {
    animation: scaleIn 350ms reverse;
}

.profile ul li strong {
    font-weight: 300;
    color: var(--primary-color);
    display: block;
    font-size: 16px;
    line-height: 26px;
}

.repos {
    grid-column: 1;
    grid-row: 2;
    padding: 0 0 40px 0;
}

.repos h3 {
    position: relative;
    margin: 0 0 10px 0;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

:global(.fade-enter-active) .repos h3 {
    animation: moveIn 350ms 1500ms;
}

:global(.fade-exit) .repos h3 {
    animation: moveOut 350ms;
}

.repos ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.repos ul a {
    display: block;
    position: relative;
    padding-bottom: 10px;
}

:global(.fade-enter-active) .repos ul a {
    animation: moveIn 350ms 1500ms;
}

:global(.fade-exit) .repos ul a {
    animation: moveOut 350ms;
}

.repos ul p {
    position: relative;
}

:global(.fade-enter-active) .repos ul p {
    animation: moveIn 600ms 1500ms;
}

:global(.fade-exit) .repos ul p {
    animation: moveOut 350ms;
}

.repos ul li {
    padding: 15px 0;
    border-top: 1px solid var(--line-color);
}

.repos ul.stats {
    display: flex;
    color: var(--alt-text-color);
}

.repos ul.stats li {
    padding: 0 10px 0 0;
    border: 0;
    display: inline-flex;
    animation: scaleIn 500ms;
}

:global(.fade-enter-active) .repos ul.stats li {
    animation: scaleIn 500ms 1500ms;
}

:global(.fade-exit) .repos ul.stats li {
    animation: scaleIn 350ms reverse;
}

.repos svg {
    fill: var(--alt-text-color);
    width: 14px;
    height: 14px;
    margin: 5px 8px 0 0;
}

.activities {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: span 3;
    padding: 40px 30px 40px 40px;
}

.activities h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    position: relative;
}

:global(.fade-enter-active) .activities h3 {
    animation: moveIn 500ms 1500ms;
}

:global(.fade-exit) .activities h3 {
    animation: moveOut 350ms;
}

.activities ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.activities li {
    display: flex;
    padding: 15px 0;
    border-top: 1px solid var(--line-color);
}

.activities svg {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    fill: var(--alt-text-color);
}

:global(.fade-enter-active) .activities svg {
    animation: scaleIn 500ms 1500ms;
}

:global(.fade-exit) .activities svg {
    animation: scaleIn 350ms reverse;
}

.activities .date {
    position: relative;
    color: var(--alt-text-color);
    font-size: 12px;
}

:global(.fade-enter-active) .activities .date {
    animation: moveIn 600ms 1500ms;
}

:global(.fade-exit) .activities .date {
    animation: moveOut 350ms;
}

.activities p {
    position: relative;
}

:global(.fade-enter-active) .activities p {
    animation: moveIn 500ms 1500ms;
}

:global(.fade-exit) .activities p {
    animation: moveOut 350ms;
}

.activities .comment {
    opacity: 0.6;
    margin-left: 40px;
}

:global(.fade-enter-active) .activities .comment {
    animation: moveIn 600ms 1500ms;
}

:global(.fade-exit) .activities .comment {
    animation: moveOut 350ms;
}

@media (max-width: 900px) {
    .page {
        grid-template-columns: 40% auto;
    }
}

@media (max-width: 700px) {
    .page {
        display: block;
        padding-right: 20px;
    }

    .repos {
        padding: 0 0 20px 0;
    }

    .activities {
        padding: 0 0 40px 0;
    }
}

@media (max-width: 480px) {
    .page {
        margin: 20px 10px;
        padding-right: 0;
        position: relative;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes moveIn {
    0% {
        left: -20px;
        opacity: 0;
    }

    100% {
        left: 0px;
        opacity: 1;
    }
}

@keyframes moveOut {
    0% {
        left: 0;
        opacity: 1;
    }

    100% {
        left: 20px;
        opacity: 0;
    }
}
