.Loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: table;
    height: 100%;
    width: 100%;
}

.Loading span {
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 40px;
    opacity: 0.7;
    animation: fadeIn 500ms ease-in backwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.7;
    }
}
