.app {
    display: flex;
    width: 95%;
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
}

.app-content {
    margin-left: 21%;
    position: relative;
    flex: 1 1 auto;
}

.routes {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 350ms ease-in 1200ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 350ms ease-out;
}

@media (max-width: 1035px) {
    .app {
        width: 100%;
    }

    .app-content {
        margin-left: 120px;
    }
}

@media (max-width: 480px) {
    .app {
        padding: 0;
    }

    .app-content {
        margin-left: 0;
        padding: 20px 10px;
    }
}
