.App {
    width: 95%;
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
}

.AppContent {
    margin-left: 21%;
    position: relative;
}

@media (max-width: 1035px) {
    .App {
        width: 100%;
        padding: 0 30px;
    }

    .AppContent {
        margin-left: 80px;
    }
}

@media (max-width: 480px) {
    .App {
        padding: 0;
    }

    .AppContent {
        margin-left: 0;
        padding: 20px 10px;
    }
}
